.active-btn {
    position: relative;
  }
  
  .active-btn::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: bottom;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
 
  .active-btn:focus::after,
  .active-btn:active::after {
    transform: scaleX(1);
  }
  